References/
.vs/
packages/
TestOpenCV/bin/
TestOpenCV/obj/
UnityProject/HoloCube/Library/

UnityProject/HoloCube/Assets/HoloToolkit/

UnityProject/HoloCube/Assets/HoloToolkit-Examples/

UnityProject/HoloCube/Assets/OpenCVForUnity/

UnityProject/HoloCube/Temp/
